.Header{
    width: 100%;
    color: white;
    background: rgb(27,30,38);
}
.body-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub-body-header{
    padding: 10px;
    width: 90%;
    display: flex;
    align-items: baseline;
}
.header-left{
    display: flex;
    width: 50%;
    align-items: baseline;
}
.text-logo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24pt;
}
.text-right-logo{
    padding-left: 30px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    opacity: 0.7;
}
.header-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-around;
}
.header-right :hover.top-header-contact{
    /* width: 100%; */
    background: black;
}
.top-header-contact{
    display: flex;
    font-size: 16pt;
    align-items: flex-end;
    width: 33%;
    justify-content: center;
    cursor: pointer;
    
}
@media (max-width:1200px) {
   .top-header-contact{
       font-size: 10pt;   
       display: flex;
    align-items: baseline;
   }
   .icon-top-header svg{
    width: 16px;
 }
  
}
 @media (max-width:992px) {
     .text-logo{
         font-size: 15pt;
     }
     .text-right-logo{
         font-size:8pt;
         padding-left: 15px;
     }
     .top-header-contact{
        font-size: 5pt;
     }
 }
 @media (max-width:768px) {
     .text-logo{
        font-size: 10pt;
     }
     .text-right-logo{
        font-size:5pt;
    }
    .icon-top-header svg{
        width: 10px;
     }
     .top-header-contact{
        font-size: 5pt;
     }
}
@media (max-width:576px) {
    .text-logo{
        font-size: 15pt;
    }
    .text-right-logo{
        font-size:8pt;
        padding-left: 15px;
    }
    .top-header-contact{
       font-size: 5pt;
    }
}