.body-menu{
    background:url(../../asset/img/img1.png);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.title{
    padding: 50px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.top-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 52pt;
}
.body-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22pt;
    padding: 50px 0px;
}
.footer-title{
    width: 100%;
    display: flex;
    justify-content: center;

}
.sub-footer-title{
    width: 75%;
    display: flex;
    justify-content: space-between;
   
}
.product{
    background: white;
    color: black;
    display: flex;
    justify-content: center;
}
.sub-product{
    padding: 50px 0px;
    width: 90%;
}
.top-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sub-top-product{
    border: 1px solid gray;
    width: 30%;
}
.chil-sub-top-product{
    padding: 10px;
}
.sub-footer-sub-top-product{
    width: 100%;
    padding-top: 10px;
    display: flex;
}
.loogo-footer-sub-top-product{
    width: 20%;
}
.title-footer-sub-top-product{
    width: 80%;

}
.sub-title-footer-sub-top-product{
    height: 100%;
    padding: 0px 0px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}
.body-product{
    width: 100%;
}
.sub-body-product{
    padding: 100px 0px;
}
.chil-body-product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.sub-chil-body-product{
    width: 30%;
}
.item-chil-body-product{
    width: 100%;
    padding: 20px 0px;
    display: flex;
}
.text-button{
    padding: 10px 0px;
}
.sub-item-right{
    height: 100%;
    padding: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lefp-item-chil-body-product{
    width: 30%;
}
.right-item-chil-body-product{
    width: 70%;
}
.top-sub-item-right{
 opacity: 0.7;
}
.item-footer-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sub-item-footer-product{
    font-size: 36pt;

}
.sub-item-footer-product.sub1{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sub-item-footer-product.sub3{
    opacity: 0.7;
}
.sub-item-footer-product.sub4{
    opacity: 0.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (max-width:1200px) {
    .sub-item-footer-product{
    font-size: 20pt;
    }
    .sub-title-footer-sub-top-product{
        font-size: 10pt;
    }

    .top-title{
        font-size: 40pt;
    }   
}
@media (max-width:992px) {
    .sub-title-footer-sub-top-product{
        font-size: 7pt;
    }
    .top-title{
        font-size: 30pt;
    }   
    .sub-item-right{
        font-size: 7pt;
    }
    .body-title{
        font-size: 15pt;
    }
}
@media (max-width:768px) {
    .sub-title-footer-sub-top-product{
        font-size: 7pt;
    }
    .top-title{
        font-size: 15pt;
    }   
    .text-button{
        font-size: 7pt; 
    }
    .sub-title-footer-sub-top-product{
      font-size: 5pt;
    }
    .body-title{
        font-size: 7pt;
    }
    .sub-item-right{
        font-size: 5pt;
    }
    .sub-item-footer-product{
        font-size: 10pt;
    }
    .left-title{
        font-size: 8pt;
    }
}
@media (max-width:576px) {
    .top-title{
        font-size: 10pt;
    }
    .body-title{
        font-size: 5pt;
        padding: 20px 0px;
    }
    .text-button{
        font-size: 5pt;
        padding: 0px 0px;
    }
    .left-title{
        font-size: 5pt;
    }
    .sub-item-footer-product{
        font-size: 8pt;
    }
    .sub-body-product{
        padding: 20px 0px;
    }

}
@media (max-width:400px) {
    
    .top-product{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .sub-top-product{
        width: 100%;
        padding:15px 0px;
        border: 0px;
        height: 50%;
    }
    .sub-title-footer-sub-top-product{
        font-size: 10pt;
    }
    .chil-body-product{
        flex-direction: column;
        align-items: center; 
    }
    .sub-chil-body-product{
        width: 100%;
        padding:15px 0px;
    }
    .sub-item-right{
        font-size: 10pt;
    }
}

