.Footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub-footer{
    width: 90%;
    padding: 50px 0px;

}
.item-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sub-item-footer{
   width: 30%;
}
.lefp-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sub-lefp-item ul li{
    list-style-type: none;
}
.chil-sub-item{
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    font-size: 12pt;
}
.chil-item{
    display: flex;
}
.title-left-item{
   font-weight: bold;
}
.sub-title-left-item{
    padding: 15px 0px;
}
.title-right-item{
    height: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sub-title-right-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.top-sub-title-right-item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-sub-title-right-item{
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media (max-width:768px) {
 .sub-footer{
     font-size: 8pt;
 }
 .chil-sub-item{
    font-size: 8pt;
 }
}
@media (max-width:730px) {
  .sub-footer{
    font-size: 6pt;
  }
  .chil-sub-item{
      font-size: 4pt;
  }
 }
 @media (max-width:450px) {
  .sub-title-left-item{
      font-size: 4pt;
  } 
  .footer-sub-title-right-item{
      font-size: 4pt;
  }
}